# Airtable data (get it via $ yarn run pull_airtable)
static/api/
static/airtable_data/*.json
static/ccip.json

# Build output
#/docs/

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
