<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Event">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>g0v Summit 2018 | 零時政府高峰會</title>
    <meta name="description" content="g0v is a decentralized civic tech community from Taiwan, advocating transparency of information, building tech solutions for citizens to participate in public affairs from grass-roots. g0v’s biennial summits started in 2014, featuring open government, open source collaboration and civic participation." /><!-- TODO: under 200 chars -->
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#E55760">


    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="g0v summit 2018">
    <meta itemprop="description" content="g0v is a decentralized civic tech community from Taiwan. g0v summit features open government, open source collaboration and civic participation.">
    <meta itemprop="image" content="https://g0v.github.io/summit2018/static/img/g0v-summit-2018.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@g0vtw">
    <meta name="twitter:title" content="g0v summit 2018">
    <meta name="twitter:description" content="g0v is a decentralized civic tech community from Taiwan, advocating transparency of information, building tech solutions for citizens to participate in public affairs from grass-roots. g0v’s biennial summits started in 2014, featuring open government, open source collaboration and civic participation." /><!-- TODO: under 200 chars -->
    <meta name="twitter:creator" content="@choznerol">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="https://g0v.github.io/summit2018/static/img/g0v-summit-2018.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="g0v summit 2018" />
    <meta property="og:type" content="event" />
    <meta property="og:url" content="https://summit.g0v.tw/2018" />
    <meta property="og:image" content="https://g0v.github.io/summit2018/static/img/g0v-summit-2018.png" />
    <meta property="og:description" content="g0v is a decentralized civic tech community from Taiwan, advocating transparency of information, building tech solutions for citizens to participate in public affairs from grass-roots. g0v’s biennial summits started in 2014, featuring open government, open source collaboration and civic participation." /><!-- TODO: under 200 chars -->
    <meta property="og:site_name" content="g0v summit" />
    <meta property="article:published_time" content="2018-02-15T00:00:00+08:00" />
    <meta property="article:modified_time" content="2018-02-15T00:00:00+08:00" />
    <meta property="article:tag" content="open-government open-source civic civic-tech" />
    <meta property="fb:admins" content="Facebook numberic ID" /><!-- TODO -->


    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="g0v-summit-2018">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#E55760">

    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114159212-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-114159212-1');
    </script>
  </head>
  <body style="margin: 0px; background-color: #DDDFDB;">
    <noscript>
      Turn on JavaScript to view this website / 本網站需要啟用 JavaScript 才能瀏覽
    </noscript>

    <!-- Start Single Page Apps for GitHub Pages -->
    <script type="text/javascript">
      // Single Page Apps for GitHub Pages
      // https://github.com/rafrex/spa-github-pages
      // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
      // ----------------------------------------------------------------------
      // This script checks to see if a redirect is present in the query string
      // and converts it back into the correct url and adds it to the
      // browser's history using window.history.replaceState(...),
      // which won't cause the browser to attempt to load the new url.
      // When the single page app is loaded further down in this file,
      // the correct url will be waiting in the browser's history for
      // the single page app to route accordingly.
      (function (l) {
        if (l.search) {
          var q = {};
          l.search.slice(1).split('&').forEach(function (v) {
            var a = v.split('=');
            q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
          });
          if (q.p !== undefined) {
            window.history.replaceState(null, null,
              l.pathname.slice(0, -1) + (q.p || '') +
              (q.q ? ('?' + q.q) : '') +
              l.hash
            );
          }
        }
      }(window.location))
    </script>
    <!-- End Single Page Apps for GitHub Pages -->

    <div id="app">

      <!-- Start Loading Screen -->
      <div style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <svg class="fade" width="100%" height="80px" viewBox="0 0 800 400" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg">
          <!-- <path d="M190.638 167.234c30.383 0 51.979 4.468 67.468 10.426v-25.022C245 148.468 224.298 144 191.234 144c-42.149 0-62.255 8.489-72.234 18.468-9.234 9.234-14 21.596-14 37.532s4.766 28.298 14 37.532C129.128 247.809 148.787 256 189.894 256c32.915 0 53.17-4.617 65.681-17.128C262.426 232.021 266 222.34 266 205.66v-13.851h-91.745v20.851h64.34c.149 2.383.149 7.894-3.574 11.617-6.702 6.702-23.234 8.936-45.128 8.936-26.809 0-40.809-4.915-47.362-11.468-4.766-4.915-7.298-11.915-7.298-21.745 0-9.532 2.681-16.979 7.894-22.191 5.809-5.809 19.958-10.575 47.511-10.575 0 0-27.553 0 0 0zM703 148h-34.145l-54.69 81.863L559.623 148H524l71.393 104h36.214L703 148z"/> -->
          <path fill="#C60000" d="M515 76h-29.622L292 323h30.069L515 76z"/>
          <path d="M471.145 162.766c-9.728-9.83-28.448-18.766-69.571-18.766-39.65 0-59.843 8.787-69.718 18.766C322.864 171.851 318 183.17 318 200s4.864 28 13.855 37.085c9.728 9.83 29.332 18.915 69.718 18.915s59.843-8.936 69.571-18.766C480.136 228.149 485 216.83 485 200c0-16.979-4.864-28.149-13.855-37.234zM401.573 232c-26.347 0-39.96-5.451-45.815-11.344C351.22 216.089 348 210.196 348 199s2.781-17.237 7.611-22.098c6.002-6.04 19.615-10.902 45.962-10.902s39.521 5.009 45.669 11.196C452.073 182.058 455 187.804 455 199s-2.781 17.237-7.611 22.098C441.241 227.286 427.921 232 401.573 232z"/>
        </svg>
        <style>
          @keyframes FadeInFadeOut {
            0% { fill-opacity: 1; }
            50% { fill-opacity: 0.5; }
            100% { fill-opacity: 1; }
          }
          .fade {
            animation: FadeInFadeOut infinite 1s ease-in-out;
          }
        </style>
      </div>
      <!-- End Loading Screen -->

    </div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->

    <!-- Flickr Embed -->
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  </body>
</html>
