// Source Sans Pro font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
// Init Foundation
@include foundation-everything($prototype: true);
// Load icon fonts
@import './icons';
// Import Motion UI
@import '~motion-ui/dist/motion-ui';

// Global styles
h1 {
  color: $primary-color;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2.75px;
  line-height: 30px;
  margin-bottom: 26px;
}

h3 {
  border-bottom: 0.1em solid $primary-color;
  margin-bottom: 1rem;
}

// For all <FaIcon> components
.fa-icon {
  margin-right: .3em;
  margin-left: .3em;
  vertical-align: text-bottom;
}

h4 {
  color: $primary-color;
}

section {
  max-width: 1140px;
  margin: 10px;
}

.debug {
  outline: 1px dashed green;
}

// .mb-25, .mb-50, .mb-75, .mb-100, .mb-125, .mb-150
$margins: 25, 50, 75, 100, 125, 150;
@each $margin in $margins {
  .mb-#{$margin} {
    margin-bottom:  #{$margin}px;
  }
}
